<!--
Project name: Assignment 2: myBudget App
File name: footer.ejs
Author's name: Daria Davydenko
Web-site: https://mybudget-app.herokuapp.com/
File description: This is a partial file that contain footer and script tags for each page.
Pictures were taken from www.pexels.com
Framework: https://materializecss.com/
-->

<footer class="page-footer">
  <div class="container footer">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Thanks for taking a look at my portfolio website!</h5>
        <p class="grey-text text-lighten-4">&copy; 2018 - Daria Davydenko</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li>dariadavydenko98@gmail.com</li>
          <li>+1(705)241-1657</li>
          <li><a href="https://www.linkedin.com/in/ddariadavydenko/"><img src="/images/icons/linkedin.png" alt="LinkedIn" class="logo"></a>
            <a href="https://github.com/ya-ya-it"><img src="/images/icons/github.png" alt="GitHub" class="logo"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="javascripts/materialize.js"></script>
<script type="text/javascript" src="javascripts/materialize.min.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>

</body>

</html>
