<!--
Project name: Assignment 2: myBudget App
File name: footer.ejs
Author's name: Daria Davydenko
Web-site: https://mybudget-app.herokuapp.com/
File description: This is a partial file that contain footer and script tags for each page.
Pictures were taken from www.pexels.com
Framework: semantic-ui.com
-->

<footer class="ui footer segment page-footer">
  <div class="ui container">
    <div class="row">
      <div class="ui equal height stackable grid">
        <div class="eight wide column">
          <div class="left-column-footer">
            <h5 class="white-text">Thanks for taking a look at my portfolio website!</h5>
            <p class="grey-text text-lighten-4">&copy; 2018 - Daria Davydenko</p>
          </div>
        </div>
        <div class="six wide column right floated">
          <ul>
            <li class="text-lighten-4">dariadavydenko98@gmail.com</li>
            <li class="text-lighten-4">+1(705)241-1657</li>
            <li><a href="https://www.linkedin.com/in/ddariadavydenko/"><img src="/images/icons/linkedin.png" alt="LinkedIn" class="logo"></a>
              <a href="https://github.com/ya-ya-it"><img src="/images/icons/github.png" alt="GitHub" class="logo"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


<!--JavaScript at end of body for optimized loading-->



<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="javascripts/semantic.min.js"></script>

</body>
</html>
