<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %> | MyBudget App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
  </head>
