<% include partials/header %>
<% include partials/navbar %>
<div class="container">
<h1><%= title %></h1>
  <div class="contact-container">
    <form method="POST">
      <div class="input-field col s12">
        <select name="month">
          <option value="" disabled selected>Choose your option</option>
          <option value="january">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
      </div>
      <div class="input-field col s12">
        <label for="rent">Rent</label>
        <input id="rent" type="text" class="validate" name="rent">
      </div>
      <div class="input-field col s12">
        <label for="food">Food</label>
        <input id="food" type="text" class="validate" name="food">
      </div>
      <div class="input-field col s12">
        <label for="buspass">Buspass</label>
        <input id="buspass" type="text" class="validate" name="buspass">
      </div>
      <button type="submit" class="waves-effect waves-light btn">Add</button>
    </form>
  </div>
</div>
<!-- END LOGIN FORM -->
<% include partials/footer %>
