<!--
Project name: Assignment 2: myBudget App
File name: contacr.ejs
Author's name: Daria Davydenko
Web-site: https://mybudget-app.herokuapp.com/
File description: This is a page with a contact form.
Pictures were taken from www.pexels.com
Framework: https://materializecss.com/
-->

<% include partials/header %>
<% include partials/navbar %>

<!-- MAIN BANNER -->
<div class="banner">
  <img src="/images/contact.jpg" alt="Services">
  <h1 class="header center banner-text ">Contact Us</h1>
</div>
<!-- END MAIN BANNER -->

<!-- CONTACT FORM -->
<div class="container">
  <p>If you have any questions about MyBudget App, do not hesitate to contact us</p>

  <div class="contact-container">
    <form method="POST" action="https://formspree.io/dariadavydenko98@gmail.com">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" name="name" required>
        <label for="name">Name*</label>
      </div>
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email" required>
        <label for="email">Email*</label>
      </div>
      <div class="input-field col s12">
        <input id="phone" type="tel" class="validate" name="phone">
        <label for="email">Phone</label>
      </div>
      <div class="input-field col s12">
        <textarea id="questions" class="materialize-textarea" name="questions"></textarea>
        <label for="questions">How can I help you?</label>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </form>
  </div>
</div>
<!-- END CONTACT FORM -->

<% include partials/footer %>
