<% include partials/header %>
<% include partials/unauth-navbar %>
    <!-- MAIN BANNER -->
    <div class="banner">
      <img src="/images/budget.jpg" alt="MyBudhet App" class="responsive-img">
      <div class="banner-text">
        <h1>Maintain the budget is too complicated? <br />
        Forget about it!</h1>
      </div>
    </div>
    <!-- END MAIN BANNER -->
  <% include partials/footer %>
