<!--
Project name: Assignment 2: myBudget App
File name: add-expenses.ejs
Author's name: Daria Davydenko
Web-site: https://mybudget-app.herokuapp.com/
File description: This is a main page.
Pictures were taken from www.pexels.com
Framework: https://materializecss.com/
-->

<% include partials/header %>
<% include partials/navbar %>
    <!-- MAIN BANNER -->
    <div class="banner">
      <img src="/images/budget.jpg" alt="MyBudhet App" class="responsive-img">
      <div class="banner-text banner-home-text">
        <h1>Maintaing the budget is too complicated? <br />
        Forget about it!</h1>
      </div>
    </div>
    <!-- END MAIN BANNER -->

    <!-- DESCRIPTION SECTION -->
    <div class="container container-home">
      <div class="row">
        <div class="col s1">
          <a class="btn-floating btn-large button-home"><i class="large material-icons">all_inclusive</i></a>
        </div>
        <div class="col s10">
          <h4>To be continued</h4>
          <p>
            This is a draft of the app thats going to calculate your budget.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s1">
          <a class="btn-floating btn-large button-home"><i class="large material-icons">all_inclusive</i></a>
        </div>
        <div class="col s10">
          <h4>Categories</h4>
          <p>
            In future edition you will be able to enter your categories to customize your own budget.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s1">
          <a class="btn-floating btn-large button-home"><i class="large material-icons">all_inclusive</i></a>
        </div>
        <div class="col s10">
          <h4>Logic</h4>
          <p>
            Later the app will calculate your current money situation, income, expenses and other.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s1">
          <a class="btn-floating btn-large button-home"><i class="large material-icons">all_inclusive</i></a>
        </div>
        <div class="col s10">
          <h4>Planning</h4>
          <p>
            You will be able to plan your budget ahead in the beginning of the year. The app will alert you it you are out of your plan and suggest some way to solve the problem.
          </p>
        </div>
      </div>
      <div class="col s12">
        <p class="text-home">
          But for now it's just an expenses tracker with a simple interface c:
        </p>
      </div>
    </div>
    <!-- END DESCRIPTION SECTION -->
  <% include partials/footer %>
