<!--
Project name: Assignment 2: myBudget App
File name: login.ejs
Author's name: Daria Davydenko
Web-site: https://mybudget-app.herokuapp.com/
File description: This is a page with a login form. You can login using your credentials ot Google ot Github account.
Pictures were taken from www.pexels.com
Framework: https://materializecss.com/
-->

<% include partials/header %>
<% include partials/navbar %>
<!-- LOGIN FORM -->
<div class="container">
  <% if (messages.length > 0) { %>
    <div class="row">
      <div class="deep-purple darken-3">
        <%= messages.toString() %>
      </div>
    </div>
    <% } else { %>
      <div class="row">
        <div class="amber darken-1">
          Please enter your credentials
        </div>
      </div>
    <% } %>
<h1><%= title %></h1>
  <div class="contact-container">
    <form method="POST">
      <div class="input-field col s12">
        <label for="email">Email</label>
        <input id="username" type="email" class="validate" name="username" required>
      </div>
      <div class="input-field col s12">
        <label for="password">Password</label>
        <input id="password" type="password" class="validate" name="password" required>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Login</button>
    </form>
  </div>
  <p>
    or <a href="/register">Register</a> <br />
    <a href="/google">GOOGLE!</a> <br />
    <a href="/github">GITHUB!</a>

  </p>
</div>
<!-- END LOGIN FORM -->
<% include partials/footer %>
