<% include partials/header %>
  <% include partials/navbar %>

    <!-- REGISTER FORM -->
    <div class="container">

            <h1><%= title %></h1>
            <div class="contact-container">
              <form method="POST">
                <div class="input-field col s12">
                  <label for="name">Name</label>
                  <input id="name" type="text" class="validate" name="name" required>
                </div>
                <div class="input-field col s12">
                  <label for="phone">Phone</label>
                  <input id="phone" type="tel" class="validate" name="phone">
                </div>
                <div class="input-field col s12">
                  <label for="email">Email</label>
                  <input id="username" type="email" class="validate" name="username" required>
                </div>
                <div class="input-field col s12">
                  <label for="password">Password</label>
                  <input id="password" type="password" class="validate" name="password" required>
                </div>
                <button type="submit" class="waves-effect waves-light btn">Register</button>
              </form>
            </div>
            <p>
              or <a href="/login">Login</a>
            </p>
    </div>
    <!-- END REGISTER FORM -->

    <% include partials/footer %>
